body {
  background: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 16px;
}

.tile-grid-row {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 4px;
  margin: 2px 0px;
}

.tile {
  border: 1px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 24px;
  height: 60px;
}

.active-tile {
  border: 1px solid yellow;
}

.gray-tile {
  background: darkslategray;
}

.green-tile {
  background: green;
}

.yellow-tile {
  background: goldenrod;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-key {
  background: gray;
  border: none;
  border-radius: 4px;
  color: white;
  height: 60px;
  width: 45px;
  margin: 2px;
}
