body {
  background: #232B2F;
  box-sizing: border-box;
  color: #EFF1F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 16px;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tile-grid-row {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 3px;
  margin: 4px 0px;
}

.tile {
  border: 2px solid #A1B1BA;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 24px;
  height: 60px;
}

.active-tile {
  border: 3px solid #EFF1F3;
}

.gray-tile {
  background: #3D4B52;
  border: none;
}

.green-tile {
  background: #02C39A;
  border: none;
}

.yellow-tile {
  background: #F7CB15;
  border: none;
}

.animated-tile {
  animation-name: lettertyped;
  animation-duration: 50ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.flip {
  animation-name: fliptiles;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-key {
  background: #5E747F;
  border: none;
  border-radius: 4px;
  color: #EFF1F3;
  height: 60px;
  width: 45px;
  margin: 2px;
}

@keyframes fliptiles {
  0% {
    transform: scaleY(1)
  }

  50% {
    transform: scaleY(0)
  }

  100% {
    transform: scaleY(1)
  }
}

@keyframes lettertyped {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(1.1)
  }
}
